@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Mouse+Memoirs&display=swap');


/* GENERAL */
body {
    height: 100vh;
    padding: 2rem;
    font-family: 'Mouse Memoirs', sans-serif;
    background: rgb(223,73,33)   radial-gradient(circle, rgba(223,73,33,1) 60%, rgba(63,14,3,1) 100%) no-repeat;
}

/* HEADER */
.title {
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
}

.main-title {
    color: #FFF;
    font-size: 4rem;
    text-shadow: 0.25rem 0.25rem 0 #000;
}


/* CLOCK */
.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.clockbox {
    width: 80vw;
    position: relative;
    border: solid #000 3px;
}

#clock-body {
    width: 100%;
    height: auto;
}

/* Clock styles */
#clock-arms {
    width: 65%;
    height: auto;
    position: absolute;
    top: 13.8%;
    left: 15.7%;
    border: solid #000 3px;
}

.mid-circle {
    fill: #000;
}

.hour-arm {
    fill: #FFF;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: #FFF;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: #879D68;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

#hour {
    transform: rotate(10deg);
}

#minute {
    transform: rotate(20deg);
}

#second {
    transform: rotate(0deg);
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: #000;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: center center;
    transition: transform .5s ease-in-out;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}

