@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Mouse+Memoirs&display=swap');


/* GENERAL */

body {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 16px;
    font-family: 'Mouse Memoirs', sans-serif;
    background: #879d68  radial-gradient(circle, rgba(135, 157, 104, 1) 40%, rgba(115, 132, 88) 60%, rgba(77, 89, 59, 1) 80%, rgba(37, 43, 29, 1) 100%) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}


/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.title {
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
}

.main-title {
    margin: 0 auto;
    color: #FFF;
    font-size: 3rem;
    text-shadow: 0.25rem 0.25rem 0 #000;
}


/* MAIN SECTION */

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* CLOCK */

.vertical-container {
    margin: 0 auto;
}

.clockbox {
    position: relative;
}

#clock-body {
    width: 100%;
    height: auto;
}

#clock-arms {
    width: 78%;
    height: auto;
    position: absolute;
    top: -2.1%;
    left: 11.7%;
}

.mid-circle {
    fill: #000;
}

.hour-arm {
    fill: #FFF;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: #FFF;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: #879D68;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: center center;
}


/* FOOTER */

.footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer p {
    color: #FFF;
    font-family: 'Lekton', sans-serif;
    text-align: center;
}



/* BREAKPOINTS */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    .main-title {
        font-size: 4rem;
        text-shadow: 0.3rem 0.3rem 0 #000;
    }

    .main-section {
        width: 60vw;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .main-section {
        width: 50vw;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .main-title {
        font-size: 5rem;
        text-shadow: 0.3rem 0.3rem 0 #000;
    }
    
    .main-section {
        width: 40vw;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .main-section {
        width: 30vw;
    }

}

